@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html,
#root {
    height: 100%;
}

body,
html {
    background-color: #1a1a1a;
    font-family: 'Inter', serif;
    color: #fff;
}