@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
    height: 100%;
}

body,
html {
    background-color: #1a1a1a;
    font-family: 'Inter', serif;
    color: #fff;
}

h1 {
    margin: 0;
}

.tippy-box[data-theme~='message_option'] {
    background-color: #3a3b3c;
    border-radius: 0.75rem;
    padding: 0;
}

.tippy-box[data-theme~='dark'] {
    color: black;
    background-color: #3a3b3c;
    border-radius: 9999px !important;
    padding: 0;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #5454543d #8f8f8f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #5454543d;
    border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 8px;
    border: 1px solid #8f8f8f;
}
